.box1 {
  display: flex;
  justify-content: space-around;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.titulo1 {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  margin-top: 30px;
}

.logo {
  background-color: black;
  font-size: 35px;
  color: white;
  padding: 7px 15px;
  border-radius: 25px;
  /* margin-left: 22px; */
}

.consigna {
  padding-top: 20px;
  font-size: 25px;
  text-align: center;
}


/* parte 2 */

h1 {
  /* text-align: center; */
  font-size: 120px;
  margin: 0;
}

.parrafo1 {
  font-size: 25px;
}

.box1_l {
  background: url("assets/img18.jpg");
}

.box1_r {
  background: url(assets/img19.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  width: 48vw;
  height: 50vh;
  background-position: center;
  background-size: cover;
}

button {
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: bolder;
}

.caja2 {
  background: black;
  color: white;
  padding-left: 100px;
}

.titulo2 {
  font-size: 60px;
  padding-top: 110px;
  padding-left: 20px;
}
.parrcaja2 {
  font-size: 30px;
  padding-left: 20px;
  padding-bottom: 120px;
}

.articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articulo {
  display: flex;
  flex: 0 1 calc(50% - 10px);
  margin-bottom: 40px;
  box-sizing: border-box;
}

.imagen {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  padding-bottom: 50px;
}
.texto {
  font-size: 25px;
  padding-left: 10px;
  margin-top: 0px;
}

.caja3 {
  display: flex;
  background: black;
  color: white;
  height: 850px;
  width: auto;
}

.caja3_1 {
  position: relative;
  background: black;
  color: white;
  width: 767px;
  height: 800;
}

.tituloc3 {
  position: absolute;
  font-size: 50px;
  padding-left: 100px;
  bottom: 330px;
}

.parrafoc3 {
  position: absolute;
  font-size: 25px;
  width: 767px;
  left: 100px;
  padding-right: 250px;
  bottom: 80px;
}

.caja3imagen {
  width: 720px;
  height: 775px;
  background: url(assets/img31.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-right: 80px;
}

.rotado {
  position: absolute;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 140px;
  bottom: 0;
  right: -150px;
}

.caja4 {
  width: 1400px;
  height: 400px;
  display: flex;
}

.imagenc4 {
  flex: 0 1 calc(50% - 10px);
  margin-top: 15px;
  margin-right: 15px;
}

.a {
  background: url(assets/img35.jpg);
  background-size: cover;
  background-position: center;
}

.b {
  background: url(assets/img36.jpg);
  background-size: cover;
  background-position: center;
}

.c {
  background: url(assets/img37.jpg);
  background-size: cover;
  background-position: center;
}

.d {
  margin-right: 6px;
  background: url(assets/img38.jpg);
  background-size: cover;
  background-position: center;
}

.caja5 {
  margin-top: 50px;
  margin-left: 80px;
  font-size: 45px;
  padding-bottom: 25px;
}

.caja6 {
  background: black;
  color: white;
  text-align: center;
  font-size: 70px;
  padding: 50px;
}

.caja7 {
  width: 1392px;
  height: 500px;
  background: black;
  color: white;
  display: flex;
  position: relative;
}

.imagenc7 {
  position: absolute;
  top: 50px;
  width: 100px;
  height: 100px;
}

.e {
  left: 80px;
}

.f {
  right: 872px;
}

.g {
  right: 436px;
}

.caja7_2 {
  display: flex;
  width: 1392px;
  height: 300px;
  position: relative;
  bottom: 0px;
}

.t1 {
  position: absolute;
  left: 80px;
  top: 170px;
}

.t2 {
  position: absolute;
  top: 170px;
  right: 702px;
}

.t3 {
  position: absolute;
  top: 170px;
  right: 250px;
}

.parrafoc7_2 {
  position: absolute;
  width: 300px;
}

.p1 {
  top: 185px;
  left: 80px;
}

.p2 {
  top: 185px;
  right: 670px;
}

.p3 {
  top: 185px;
  right: 240px;
}

.caja8 {
  display: flex;
  width: 1392px;
  height: 640px;
  padding-top: 15px;
  /* position: relative; */
}

.columnaizq {
  width: 650px;
  height: 640px;
  background: url(assets/img48.jpg);
  background-size: cover;
  background-position: center;
}

.columnacentro {
  width: 1400px;
  height: 640px;
}
.textoc8 {
  position: absolute;
  margin-top: 100px;
  left: 530px;
}

.parrafoc8 {
  position: absolute;
  left: 530px;
  margin-top: 180px;
  font-size: 70px;
}

.columnader {
  position: relative;
  width: 100px;
  height: 640px;
}

.imagender {
  position: absolute;
  width: 60px;
  height: 100px;
  top: 230px;
  left: -120px;
}

.caja9 {
  margin-top: 30px;
  padding-top: 130px;
  background: black;
  width: 1380px;
  height: 730px;
  color: white;
  font-size: 60px;
  text-align: center;
  position: relative;
}

.fila1 {
  display: flex;
  font-size: 20px;
  padding-top: 100px;
}

.marca1 {
  position: absolute;
  left: 100px;
}

.marca2 {
  position: absolute;
  left: 500px;
}

.marca3 {
  position: absolute;
  left: 800px;
}

.marca4 {
  position: absolute;
  left: 1100px;
}

.fila2 {
  display: flex;
  font-size: 20px;
  padding-top: 150px;
}

.marca5 {
  position: absolute;
  left: 100px;
}

.marca6 {
  position: absolute;
  left: 500px;
}

.marca7 {
  position: absolute;
  left: 800px;
}

.marca8 {
  position: absolute;
  left: 1100px;
}

.caja10 {
  background: black;
  color: white;
  width: 1380px;
  height: 600px;
  margin-top: -40px;
}

.tituloc10 {
  font-size: 75px;
  padding-top: 100px;
  padding-left: 80px;
}
.secundario {
  font-size: 20px;
  padding-left: 80px;
  margin-top: -55px;
}

.caja10_2 {
  display: flex;
  position: relative;
}

.imagenc10 {
  width: 160px;
  height: 160px;
}

.im1 {
  position: absolute;
  left: 80px;
  top: 70px;
}

.im2 {
  position: absolute;
  top: 70px;
  left: 650px;
}

.texto1c10 {
  position: absolute;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 100;
  left: 280px;
  top: 85px;
}

.texto2c10 {
  position: absolute;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 100;
  left: 850px;
  top: 70px;
}

footer {
  display: flex;
  position: relative;
  background: linear-gradient(to right, rgb(248, 88, 229), rgb(116, 220, 248));
  font-size: 13px;
  width: 1380px;
  height: 200px;
  color: white;
}

.textf1 {
  position: absolute;
  left: 60px;
  top: 50px;
}

.textf2 {
  position: absolute;
  left: 500px;
  top: 50px;
}

.textf3 {
  position: absolute;
  left: 1000px;
  top: 50px;
}


/* @media screen and (min-width:480px) and (max-width:1200px) {
  body{
    color:red;
  }
  
} */

@media screen and (max-width: 960px) {
  .titulo1{
    color:blue;
  }
}

@media screen and (max-width: 493px) {
  .titulo1{
    color:green;
  }
  
}
